* text=auto

*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.ps1 text eol=crlf
*.docx binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
